<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.cst.buildingnotice.dao.ArchiveMapper">
  <resultMap id="BaseResultMap" type="org.cst.buildingnotice.entity.Archive">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="unit" jdbcType="VARCHAR" property="unit" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="material" jdbcType="VARCHAR" property="material" />
    <result column="addr" jdbcType="VARCHAR" property="addr" />
    <result column="hold" jdbcType="VARCHAR" property="hold" />
    <result column="holdid" jdbcType="VARCHAR" property="holdid" />
    <result column="attr" jdbcType="VARCHAR" property="attr" />
    <result column="layer" jdbcType="INTEGER" property="layer" />
    <result column="createyear" jdbcType="TIMESTAMP" property="createyear" />
    <result column="typeid" jdbcType="INTEGER" property="typeid" />
    <result column="rankid" jdbcType="INTEGER" property="rankid" />
    <result column="rankratio" jdbcType="DOUBLE" property="rankratio" />
    <result column="identitytime" jdbcType="TIMESTAMP" property="identitytime" />
    <result column="userid" jdbcType="INTEGER" property="userid" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="org.cst.buildingnotice.entity.ArchiveWithBLOBs">
    <result column="body1" jdbcType="LONGVARCHAR" property="body1" />
    <result column="body2" jdbcType="LONGVARCHAR" property="body2" />
    <result column="body3" jdbcType="LONGVARCHAR" property="body3" />
    <result column="advise" jdbcType="LONGVARCHAR" property="advise" />
    <result column="remark" jdbcType="LONGVARCHAR" property="remark" />
  </resultMap>
  <sql id="Base_Column_List">
    id, unit, phone, material, addr, hold, holdid, attr, layer, createyear, typeid, rankid, 
    rankratio, identitytime, userid
  </sql>
  <sql id="Blob_Column_List">
    body1, body2, body3, advise, remark
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from archive
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from archive
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="org.cst.buildingnotice.entity.ArchiveWithBLOBs">
    insert into archive (id, unit, phone, 
      material, addr, hold, 
      holdid, attr, layer, 
      createyear, typeid, rankid, 
      rankratio, identitytime, userid, 
      body1, body2, body3, 
      advise, remark)
    values (#{id,jdbcType=INTEGER}, #{unit,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, 
      #{material,jdbcType=VARCHAR}, #{addr,jdbcType=VARCHAR}, #{hold,jdbcType=VARCHAR}, 
      #{holdid,jdbcType=VARCHAR}, #{attr,jdbcType=VARCHAR}, #{layer,jdbcType=INTEGER}, 
      #{createyear,jdbcType=TIMESTAMP}, #{typeid,jdbcType=INTEGER}, #{rankid,jdbcType=INTEGER}, 
      #{rankratio,jdbcType=DOUBLE}, #{identitytime,jdbcType=TIMESTAMP}, #{userid,jdbcType=INTEGER}, 
      #{body1,jdbcType=LONGVARCHAR}, #{body2,jdbcType=LONGVARCHAR}, #{body3,jdbcType=LONGVARCHAR}, 
      #{advise,jdbcType=LONGVARCHAR}, #{remark,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" useGeneratedKeys="true" keyProperty="id" parameterType="org.cst.buildingnotice.entity.ArchiveWithBLOBs">
    insert into archive
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="unit != null">
        unit,
      </if>
      <if test="phone != null">
        phone,
      </if>
      <if test="material != null">
        material,
      </if>
      <if test="addr != null">
        addr,
      </if>
      <if test="hold != null">
        hold,
      </if>
      <if test="holdid != null">
        holdid,
      </if>
      <if test="attr != null">
        attr,
      </if>
      <if test="layer != null">
        layer,
      </if>
      <if test="createyear != null">
        createyear,
      </if>
      <if test="typeid != null">
        typeid,
      </if>
      <if test="rankid != null">
        rankid,
      </if>
      <if test="rankratio != null">
        rankratio,
      </if>
      <if test="identitytime != null">
        identitytime,
      </if>
      <if test="userid != null">
        userid,
      </if>
      <if test="body1 != null">
        body1,
      </if>
      <if test="body2 != null">
        body2,
      </if>
      <if test="body3 != null">
        body3,
      </if>
      <if test="advise != null">
        advise,
      </if>
      <if test="remark != null">
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="unit != null">
        #{unit,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="material != null">
        #{material,jdbcType=VARCHAR},
      </if>
      <if test="addr != null">
        #{addr,jdbcType=VARCHAR},
      </if>
      <if test="hold != null">
        #{hold,jdbcType=VARCHAR},
      </if>
      <if test="holdid != null">
        #{holdid,jdbcType=VARCHAR},
      </if>
      <if test="attr != null">
        #{attr,jdbcType=VARCHAR},
      </if>
      <if test="layer != null">
        #{layer,jdbcType=INTEGER},
      </if>
      <if test="createyear != null">
        #{createyear,jdbcType=TIMESTAMP},
      </if>
      <if test="typeid != null">
        #{typeid,jdbcType=INTEGER},
      </if>
      <if test="rankid != null">
        #{rankid,jdbcType=INTEGER},
      </if>
      <if test="rankratio != null">
        #{rankratio,jdbcType=DOUBLE},
      </if>
      <if test="identitytime != null">
        #{identitytime,jdbcType=TIMESTAMP},
      </if>
      <if test="userid != null">
        #{userid,jdbcType=INTEGER},
      </if>
      <if test="body1 != null">
        #{body1,jdbcType=LONGVARCHAR},
      </if>
      <if test="body2 != null">
        #{body2,jdbcType=LONGVARCHAR},
      </if>
      <if test="body3 != null">
        #{body3,jdbcType=LONGVARCHAR},
      </if>
      <if test="advise != null">
        #{advise,jdbcType=LONGVARCHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="org.cst.buildingnotice.entity.ArchiveWithBLOBs">
    update archive
    <set>
      <if test="unit != null">
        unit = #{unit,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="material != null">
        material = #{material,jdbcType=VARCHAR},
      </if>
      <if test="addr != null">
        addr = #{addr,jdbcType=VARCHAR},
      </if>
      <if test="hold != null">
        hold = #{hold,jdbcType=VARCHAR},
      </if>
      <if test="holdid != null">
        holdid = #{holdid,jdbcType=VARCHAR},
      </if>
      <if test="attr != null">
        attr = #{attr,jdbcType=VARCHAR},
      </if>
      <if test="layer != null">
        layer = #{layer,jdbcType=INTEGER},
      </if>
      <if test="createyear != null">
        createyear = #{createyear,jdbcType=TIMESTAMP},
      </if>
      <if test="typeid != null">
        typeid = #{typeid,jdbcType=INTEGER},
      </if>
      <if test="rankid != null">
        rankid = #{rankid,jdbcType=INTEGER},
      </if>
      <if test="rankratio != null">
        rankratio = #{rankratio,jdbcType=DOUBLE},
      </if>
      <if test="identitytime != null">
        identitytime = #{identitytime,jdbcType=TIMESTAMP},
      </if>
      <if test="userid != null">
        userid = #{userid,jdbcType=INTEGER},
      </if>
      <if test="body1 != null">
        body1 = #{body1,jdbcType=LONGVARCHAR},
      </if>
      <if test="body2 != null">
        body2 = #{body2,jdbcType=LONGVARCHAR},
      </if>
      <if test="body3 != null">
        body3 = #{body3,jdbcType=LONGVARCHAR},
      </if>
      <if test="advise != null">
        advise = #{advise,jdbcType=LONGVARCHAR},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="org.cst.buildingnotice.entity.ArchiveWithBLOBs">
    update archive
    set unit = #{unit,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      material = #{material,jdbcType=VARCHAR},
      addr = #{addr,jdbcType=VARCHAR},
      hold = #{hold,jdbcType=VARCHAR},
      holdid = #{holdid,jdbcType=VARCHAR},
      attr = #{attr,jdbcType=VARCHAR},
      layer = #{layer,jdbcType=INTEGER},
      createyear = #{createyear,jdbcType=TIMESTAMP},
      typeid = #{typeid,jdbcType=INTEGER},
      rankid = #{rankid,jdbcType=INTEGER},
      rankratio = #{rankratio,jdbcType=DOUBLE},
      identitytime = #{identitytime,jdbcType=TIMESTAMP},
      userid = #{userid,jdbcType=INTEGER},
      body1 = #{body1,jdbcType=LONGVARCHAR},
      body2 = #{body2,jdbcType=LONGVARCHAR},
      body3 = #{body3,jdbcType=LONGVARCHAR},
      advise = #{advise,jdbcType=LONGVARCHAR},
      remark = #{remark,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.cst.buildingnotice.entity.Archive">
    update archive
    set unit = #{unit,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      material = #{material,jdbcType=VARCHAR},
      addr = #{addr,jdbcType=VARCHAR},
      hold = #{hold,jdbcType=VARCHAR},
      holdid = #{holdid,jdbcType=VARCHAR},
      attr = #{attr,jdbcType=VARCHAR},
      layer = #{layer,jdbcType=INTEGER},
      createyear = #{createyear,jdbcType=TIMESTAMP},
      typeid = #{typeid,jdbcType=INTEGER},
      rankid = #{rankid,jdbcType=INTEGER},
      rankratio = #{rankratio,jdbcType=DOUBLE},
      identitytime = #{identitytime,jdbcType=TIMESTAMP},
      userid = #{userid,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>