<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.cst.buildingnotice.dao.ArchImgMapper">
  <resultMap id="BaseResultMap" type="java.lang.Integer">
    <result column="imgid" jdbcType="INTEGER" property="imgid" />
  </resultMap>
  <resultMap id="FindResultMap" type="java.lang.Integer">
    <result column="archid" jdbcType="INTEGER" property="archid" />
  </resultMap>
  <select id="selectByArchid" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
        imgid
    from archimg
    where archid = #{archid,jdbcType=INTEGER}
  </select>
  <select id="selectByImgid" parameterType="java.lang.Integer" resultMap="FindResultMap">
    select 
        archid
    from archimg
    where imgid = #{imgid,jdbcType=INTEGER}
  </select>
  <insert id="insert" parameterType="org.cst.buildingnotice.entity.ArchImg">
    insert into archimg (archid, imgid)
    values (#{archid,jdbcType=INTEGER}, #{imgid,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="org.cst.buildingnotice.entity.ArchImg">
    insert into archimg
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="archid != null">
        archid,
      </if>
      <if test="imgid != null">
        imgid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="archid != null">
        #{archid,jdbcType=INTEGER},
      </if>
      <if test="imgid != null">
        #{imgid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
</mapper>